Repository hong9640/Road-Block: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push-backend-image, push-frontend-image

push-backend-image:
  stage: push
  tags:
  - be
  - master
  - develop
  script:
  - echo "Building and pushing backend image..."
  - docker build -t "$IMAGE_LATEST_BACKEND" -t "$IMAGE_SHA_BACKEND" -f ./backend/Dockerfile .
  - docker push "$IMAGE_LATEST_BACKEND"
  - docker push "$IMAGE_SHA_BACKEND"
  ...

push-frontend-image:
  stage: push
  tags:
  - master
  - develop
  script:
  - echo "Building and pushing frontend image..."
  - docker build -t "$IMAGE_LATEST_FRONTEND" -t "$IMAGE_SHA_FRONTEND" -f ./frontend/Dockerfile .
  - docker push "$IMAGE_LATEST_FRONTEND"
  - docker push "$IMAGE_SHA_FRONTEND"
  ...

fix: nginx 수정
  nginx/default.conf
Due: push-backend-image

fix: default.conf 수정
  nginx/default.conf
Due: push-backend-image

fix: nginx 경로 수정
  nginx/default.conf
Due: push-backend-image

fix: 주석 추가
  nginx/default.conf
Due: push-backend-image

fix: 도주차 검거 판단 기능 및 상황 종료 수정
  sim/simulator2/catkin_ws/.env_backup
  sim/simulator2/catkin_ws/src/road_block/launch/talker_listener_1.launch
  sim/simulator2/catkin_ws/src/road_block/launch/talker_listener_2.launch
  sim/simulator2/catkin_ws/src/road_block/launch/vehicle_all_monitoring.launch
  sim/simulator2/catkin_ws/src/road_block/launch/vehicle_multi_monitoring.launch
  sim/simulator2/catkin_ws/src/road_block/launch/vehicle_single_test.launch
  sim/simulator2/catkin_ws/src/road_block/scripts/LaneFollowingPursuitNode.py
  sim/simulator2/catkin_ws/src/road_block/scripts/chase_manager.py
  sim/simulator2/catkin_ws/src/road_block/scripts/runner_event_handler.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_locate_info.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_registration.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_stat_info.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_stat_info2.py
Due: none

fix:ci/cd env 수정
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

remove: .env_back_up 파일 제거
  sim/simulator2/catkin_ws/.env_backup
Due: none

docs: 디버깅 코드 추가
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

fix: 일부 수정
  frontend/.dockerignore
Due: push-frontend-image

docs: 주석 추가
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

refactor(fe): Components 스타일 css 파일 분리
  frontend/index.css
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/InfoEventModal.tsx
  frontend/src/features/dashboard/components/ControlSidebar.css
  frontend/src/features/dashboard/components/ControlSidebar.tsx
  frontend/src/features/dashboard/components/VehicleListItem.css
  frontend/src/features/dashboard/components/VehicleListItem.tsx
  frontend/src/features/dashboard/modeSwitch.ts
  frontend/src/features/events/components/EventRow.css
  frontend/src/features/events/components/EventRow.tsx
  frontend/src/features/events/components/EventTable.css
  frontend/src/features/events/components/EventTable.tsx
  frontend/src/features/events/formatEvent.ts
  frontend/src/features/main/MapCard.css
  frontend/src/features/main/MapCard.tsx
  frontend/src/features/main/navLinks.ts
  frontend/src/features/map/smoothing.ts
  frontend/src/pages/LogsPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MapPage.tsx
  frontend/src/styles/DashboardLayout.css
  frontend/src/styles/InfoEventmodal.css
  frontend/src/websockets/handlers.ts
Due: push-frontend-image

fix: map_id 추가
  backend/app/services/websocket_service.py
  backend/create_dummy_data.py
Due: push-backend-image

fix: 바이너리 형식 수정
  backend/app/services/websocket_service.py
  backend/create_dummy_data.py
Due: push-backend-image

fix: 도커이그노어 수정
  frontend/.dockerignore
Due: push-frontend-image

feat: local 도주 차량 추격
  sim/simulator2/catkin_ws/src/road_block/launch/vehicle_multi_monitoring_local.launch
  sim/simulator2/catkin_ws/src/road_block/scripts/manual_chase_commander.py
Due: none

fix: 중복 수정
  .gitlab-ci.yml
  backend/app/services/websocket_service.py
  backend/create_dummy_data.py
Due: push-backend-image, push-frontend-image

fix: ci/cd 경로 수정
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

docs: 주석 추가
  backend/Dockerfile
Due: push-backend-image

docs: 주석 추가
  docker-compose.yml
Due: none

docs: 주석 삭제
  docker-compose.yml
Due: none

docs: 주석 추가
  nginx/default.conf
Due: push-backend-image

fix: 디버깅 코드 추가 - 프론트엔드 디버깅 코드 추가 - main파일 app url 추가
  backend/app/main.py
  frontend/src/Apis.ts
Due: push-backend-image, push-frontend-image

docs: 프론트엔드 디버깅 코드 삭제, main.py 일부 수정
  backend/app/main.py
  frontend/src/Apis.ts
Due: push-backend-image, push-frontend-image

docs: main.py의 필요없는 url 삭제
  backend/app/main.py
Due: push-backend-image

style(fe): 사건 기록 스타일 수정
  frontend/src/features/dashboard/components/VehicleListItem.css
  frontend/src/features/events/components/EventRow.css
  frontend/src/features/events/components/EventTable.css
  frontend/src/features/map/Components/MapView.tsx
  frontend/src/stores/useVehicleStore.ts
  frontend/src/types.ts
  frontend/src/websockets/handlers.ts
Due: push-frontend-image

docs: be ci/cd push 삭제
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

docs: ci/cd 워크플로우 추가
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

feat : redis, celery 기능 추가
  backend/app/celery_app.py
  backend/app/db_sync.py
  backend/app/services/websocket_service.py
  backend/app/tasks.py
  backend/create_dummy_data.py
Due: push-backend-image

docs: requirements 추가
  backend/requirements.txt
Due: push-backend-image

test:자율주행 코드 수정
  sim/simulator1/morai_ws/4_reverse.py
  sim/simulator1/morai_ws/for_test/4_reverse_test.py
  sim/simulator1/morai_ws/for_test/4_tracker_clean_v4_fix.py
  sim/simulator1/morai_ws/for_test/drive_test.py
  sim/simulator1/morai_ws/reverve.py
  sim/simulator1/morai_ws/reverve2.py
Due: none

feat(fe): 스타일 완성 & 네트워크 관련 예외 처리 UI 설정 & 더미 데이터 추가
  frontend/src/Apis.ts
  frontend/src/features/dashboard/components/ControlSidebar.css
  frontend/src/features/dashboard/components/ControlSidebar.tsx
  frontend/src/features/dashboard/components/LogListItem.tsx
  frontend/src/features/events/components/EventRow.css
  frontend/src/features/events/components/EventRow.tsx
  frontend/src/features/events/components/EventTable.tsx
  frontend/src/features/map/Components/MapView.tsx
  frontend/src/lib/datas.ts
  frontend/src/stores/useVehicleStore.ts
  frontend/src/styles/DashboardLayout.css
  frontend/src/types.ts
  frontend/src/utils/timeformat.ts
Due: push-frontend-image

docs: ci/cd 파일 수정
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

fix: 오타 수정
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

fix: ci/cd 오타 수정
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

Path conditions:
  push-backend-image: any of: backend/**/*, .gitlab-ci.yml, nginx/default.conf
  push-frontend-image: any of: frontend/**/*, .gitlab-ci.yml, default.conf
