Repository hong9640/Road-Block: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push-backend-image, push-frontend-image

.gitlab-ci.yml:

# CI/CD íŒŒì´í”„ë¼ì¸
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"'
stages:
  - push
#ë³€ìˆ˜
variables:
  # ë³€ìˆ˜ëŠ” ì´ë¯¸ì§€ ì´ë¦„ì„ ë§Œë“œëŠ” ë° ì—¬ì „ížˆ í•„ìš”í•©ë‹ˆë‹¤.
  PRIVATE_REGISTRY: "localhost:5000"
  IMAGE_REPO_BACKEND: "${PRIVATE_REGISTRY}/a507_car"
  IMAGE_SHA_BACKEND: "${IMAGE_REPO_BACKEND}:${CI_COMMIT_SHA}"
  IMAGE_LATEST_BACKEND: "${IMAGE_REPO_BACKEND}:latest"
  IMAGE_REPO_FRONTEND: "${PRIVATE_REGISTRY}/a507_frontend"
  IMAGE_SHA_FRONTEND: "${IMAGE_REPO_FRONTEND}:${CI_COMMIT_SHA}"
  IMAGE_LATEST_FRONTEND: "${IMAGE_REPO_FRONTEND}:latest"

push-backend-image:
  stage: push
  tags:
    - be
    - master
    - develop
  script:
    - echo "Building and pushing backend image..."
    - docker build -t "$IMAGE_LATEST_BACKEND" -t "$IMAGE_SHA_BACKEND" -f ./backend/Dockerfile .
    - docker push "$IMAGE_LATEST_BACKEND"
    - docker push "$IMAGE_SHA_BACKEND"
    - echo "Backend CI pipeline finished successfully!"
  rules:
    - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"'
      changes:
        - backend/**/*
        - .gitlab-ci.yml
        - nginx/default.conf
# í”„ë¡ íŠ¸ì—”ë“œ
push-frontend-image:
  stage: push
  tags:
    - master
    - develop
  script:
      # --- ðŸ’¡ ë””ë²„ê¹…ìš© ì½”ë“œ ì¶”ê°€ ì‹œìž‘ ðŸ’¡ ---
    - echo "================================================"
    - echo "CI/CD ë³€ìˆ˜ ê°’ì„ í™•ì¸í•©ë‹ˆë‹¤."
    - echo "VITE_API_BASE ë³€ìˆ˜ ê°’ ---> ${VITE_API_BASE}"
    - echo "VITE_WS_BASE ë³€ìˆ˜ ê°’ ---> ${VITE_WS_BASE}"
    - echo "================================================"
    # --- ë””ë²„ê¹…ìš© ì½”ë“œ ì¶”ê°€ ë ---
    # GitLab ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ ë¹Œë“œ ì§ì „ì— frontend/.env íŒŒì¼ì„ ìƒì„±í•©ë‹ˆë‹¤.
    - echo "VITE_API_BASE=${VITE_API_BASE}" > ./frontend/.env
    - echo "VITE_WS_BASE=${VITE_WS_BASE}" >> ./frontend/.env

    - echo "Building and pushing frontend image..."
    - docker build -t "$IMAGE_LATEST_FRONTEND" -t "$IMAGE_SHA_FRONTEND" -f ./frontend/Dockerfile .
    - docker push "$IMAGE_LATEST_FRONTEND"
    - docker push "$IMAGE_SHA_FRONTEND"
    - echo "Frontend CI pipeline finished successfully!"
  rules:
    - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"'
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
        - default.conf

feat(fe): 차량 위치 추적 기능 추가 & 사건 필터 추가
  frontend/index.css
  frontend/src/features/dashboard/components/VehicleListItem.css
  frontend/src/features/dashboard/components/VehicleListItem.tsx
  frontend/src/features/events/components/EventTable.css
  frontend/src/features/events/components/EventTable.tsx
  frontend/src/features/map/Components/MapView.tsx
  frontend/src/features/map/Components/VehicleMarker.tsx
  frontend/src/stores/useVehicleStore.ts
Due: push-frontend-image

refactor: 차량 코드 분리 및 개별 실행 파일 생성
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_1.launch
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_2.launch
  sim/simulator2/catkin_ws/src/road_block/launch/runner_car.launch
  sim/simulator2/catkin_ws/src/road_block/launch/vehicle_all_monitoring_local.launch
  sim/simulator2/catkin_ws/src/road_block/scripts/LaneFollowingPursuitNode2.py
  sim/simulator2/catkin_ws/src/road_block/scripts/ego_ctrl_ws.py
  sim/simulator2/catkin_ws/src/road_block/scripts/parameterized_pursuit_node.py
  sim/simulator2/catkin_ws/src/road_block/scripts/runner_event_handler.py
Due: none

fix(fe): 변수 오타 수정
  frontend/src/websockets/handlers.ts
Due: push-frontend-image

docs: 웹소켓 라우터 정리
  backend/app/routers/websocket_router.py
Due: push-backend-image

docs: 필요없는 주석 삭제
  backend/app/celery_app.py
  backend/app/db.py
  backend/app/db_sync.py
  backend/app/main.py
  backend/app/routers/map_router.py
  backend/app/routers/vehicle_router.py
  backend/app/routers/websocket_router.py
  backend/app/schemas/error_schema.py
  backend/app/schemas/vehicle_schema.py
  backend/app/schemas/websocket_schema.py
  backend/app/services/vehicle_service.py
  backend/app/services/websocket_service.py
  backend/app/tasks.py
  backend/static/index.html
Due: push-backend-image

fix: redis 경로 수정
  backend/app/celery_app.py
Due: push-backend-image

docs: docker-compose.yml 수정
  docker-compose.yml
Due: none

docs: ci/cd 수정
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

feat(fe): Readme 파일 최신화
  frontend/README.md
Due: push-frontend-image

update(fe): readme 파일 설명 추가 및 수정
  frontend/README.md
Due: push-frontend-image

update(fe): readme.md 내용 수정
  frontend/README.md
Due: push-frontend-image

docs: postman origin 추가
  nginx/default.conf
Due: push-backend-image

feat(be): Backend readme.md 파일 추가
  backend/README.md
Due: push-backend-image

fix: readme 내용 hotfix
  README.md
  frontend/README.md
Due: push-frontend-image

docs: docs기능 추가
  backend/app/main.py
Due: push-backend-image

fix: readme 수정
  backend/README.md
Due: push-backend-image

docs: README 수정
  backend/README.md
Due: push-backend-image

docs: ecxc 파일 추가
  exec/exec_1.md
  exec/exec_3.sql
Due: none

hotfix(fe): Dummy Data 최신화
  frontend/src/lib/datas.ts
Due: push-frontend-image

docs: ci/cd 수정 - master만 ci가능하게 변경
  .gitlab-ci.yml
Due: push-backend-image, push-frontend-image

test: 차량 3대 동작 확인
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_1.launch
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_3.launch
  sim/simulator2/catkin_ws/src/road_block/scripts/chase_manager.py
  sim/simulator2/catkin_ws/src/road_block/scripts/parameterized_pursuit_node.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_locate_info.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_registration.py
  sim/simulator2/catkin_ws/src/road_block/scripts/vehicle_stat_info.py
Due: none

fix(fe): 아이콘 추가 및 수정 & 버튼 반응성 추가
  frontend/src/components/DashboardLayout.tsx
  frontend/src/features/dashboard/components/ControlSidebar.css
  frontend/src/features/dashboard/components/ControlSidebar.tsx
  frontend/src/features/main/MapCard.css
  frontend/src/features/map/Components/MapView.tsx
  frontend/src/styles/DashboardLayout.css
Due: push-frontend-image

test: 통신 및 시나리오 테스트
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_2.launch
  sim/simulator2/catkin_ws/src/road_block/launch/runner_car.launch
  sim/simulator2/catkin_ws/src/road_block/msg/student.msg
  sim/simulator2/catkin_ws/src/road_block/srv/AddTwoInts.srv
Due: none

test : 시나리오 점검
  sim/simulator3/catkin_ws/build_isolated/.built_by
  sim/simulator3/catkin_ws/devel_isolated/.built_by
  sim/simulator3/catkin_ws/src/road_block/launch/police_car_1.launch
  sim/simulator3/catkin_ws/src/road_block/scripts/chase_manager.py
  sim/simulator3/catkin_ws/src/road_block/scripts/test.py
  sim/simulator3/catkin_ws/src/road_block/scripts/vehicle_locate_info.py
  sim/simulator3/catkin_ws/src/road_block/scripts/vehicle_registration.py
  sim/simulator3/catkin_ws/src/road_block/scripts/vehicle_stat_info.py
Due: none

fix(fe): 지도 UX 개선: 전체 지도 초기 화면 Fit 설정
  frontend/src/features/map/Components/MapView.tsx
Due: push-frontend-image

test: 시나리오 테스트
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_1.launch
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_2.launch
  sim/simulator2/catkin_ws/src/road_block/launch/police_car_3.launch
  sim/simulator2/catkin_ws/src/road_block/scripts/LaneFollowingPursuitNode.py
  sim/simulator2/catkin_ws/src/road_block/scripts/LaneFollowingPursuitNode2.py
  sim/simulator2/catkin_ws/src/road_block/scripts/police_tracker_drive_backup.py
Due: none

exec update
  exec/exec_1.md
  exec/exec_3.sql
  exec/포팅매뉴얼.md
Due: none

docs: 주석 정리
  backend/app/main.py
  backend/app/services/vehicle_service.py
  backend/app/services/websocket_service.py
Due: push-backend-image

test: 시나리오 테스트
  sim/simulator2/catkin_ws/src/road_block/scripts/LaneFollowingPursuitNode2.py
Due: none

Update 4 files
  exec/image/1.png
  exec/image/2.png
  exec/image/3.png
  exec/포팅매뉴얼.md
Due: none

Update 6 files
  exec/image/검거 장면.png
  exec/image/경찰차1,3번 대기.png
  exec/image/경찰차2번 대기.png
  exec/image/도주차 추격.png
  exec/image/시작 도주차량.png
  exec/포팅매뉴얼.md
Due: none

README 수정 및 발표자료 추가
  README.md
  docs/README.md
Due: none

docs: 더미 생성 파일 제거
  backend/create_dummy_data.py
  backend/create_dummy_event.py
  backend/create_dummy_status.py
  backend/create_dummy_vehicle.py
Due: push-backend-image

docs: README 수정
  README.md
Due: none

Create .keep
  docs/ppt/.keep
Due: none

docs: ppt 제거
  docs/ppt/.keep
Due: none
